:root {
    font-family: 'Hind', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    --pink: #FAE3FC;
    --purple: #fba6fe;
    --green: #EEFEC3;
    --blue: #E4F7FB;
    --yellow: #F6EFA6;
    --dark: #35353C;
    --dark-mode: #242428;
    --body: #fefdf6;
}

body {
    color: var(--dark);
    background-color: var(--body);
    font-family: 'Hind', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    transition: background-color 0.3s, color 0.3s;
}


a {
    color: var(--dark);
}

a:hover {
    color: var(--dark);
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-family: 'Archivo Black', sans-serif;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 42px;
    margin-bottom: 40px;
}

h3 {
    font-size: 22px;
}

.pink-text {
    color: var(--purple);
    font-weight: bold;
}

.btn {
    font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
    width: 150px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid;
    color: var(--dark);
    position: relative;
    background-color: var(--body);
    top: 0;
}

.btn:hover {
    top: 5px;
}

.btn::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, var(--purple), var(--pink), var(--green));
    border-radius: 3px;
    z-index: -1;
}

.btn:hover::after {
    top: 1px;
}


.container-padding {
    padding: 60px 40px
}

.container-width {
    max-width: 1100px;
    margin: auto;

}

/* Nav and Mobile menu icon */
.navbar-toggler {
    border: none;
}

.navbar-toggler {
    padding: 0;
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-brand {
    font-family: 'Archivo Black', sans-serif;
    font-size: 28px;
}

.nav-link-color {
    color: var(--dark);
}

.navbar {
    padding: 20px 40px;
}

.navbar-nav {
    gap: 40px;
    font-family: 'Archivo Black', sans-serif;
}

.nav-item {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: var(--dark);
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 7px;
    background: linear-gradient(to right, var(--purple), var(--pink), var(--green));
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

/* Hamburger Icon */
.navbar-toggler {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
    color: black;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

.navbar-toggler.active .bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggler.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}


/* Intro Section */

.intro {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.intro div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.intro-img-container {
    position: relative;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    border: 2px solid;
}


.intro-img-container::after {
    content: "";
    position: absolute;
    bottom: 18px;
    right: 18px;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, var(--purple), var(--pink), var(--green));
    border-radius: 10px;
    z-index: -1;
}



/* What I Do Section */

.duties {
    display: flex;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 80px;
}


.box {
    background-color: var(--body);
    border-radius: 10px;
    border: 2px solid;
    color: var(--dark);
    width: 100%;
    padding: 20px 25px 30px 25px;
    position: relative;
    text-align: center;
    font-size: 18px;
}

.box::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, var(--purple), var(--pink), var(--green));
    border-radius: 10px;
    z-index: -1;
}



.duties .box p {
    margin-top: 20px;
    margin-bottom: 0;
}

.svg-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -70px;
    border: 2px solid var(--dark);
}

.duties .box:first-of-type .svg-container {
    background-color: var(--purple);
}

.duties .box:nth-of-type(2) .svg-container {
    background-color: var(--pink);
}


.duties .box:nth-of-type(3) .svg-container {
    background-color: var(--green);
}



.work h2 {
    text-align: center;
}


/* Projects */

.projects {
    padding-bottom: 80px;
}

.projects h2 {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}


.project-container {
    display: flex;
    flex-direction: row;
}


.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background: white;
}

.project-inner {
    max-width: 600px;
    margin-right: 0;
    margin-left: auto;
    padding: 40px;
}

.project-container:nth-child(2) .project-inner {
    margin-right: auto;
    margin-left: 0;
}

.project-skills {
    margin-top: 20px;
}

.project-skills p {
    font-size: 16px;
}

.project-skills a {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-underline-offset: 4px;
}


.project .project-tech-stack {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.project-tech-stack p {
    font-size: 14px;
    text-align: center;
    padding: 5px 20px;
    box-shadow: 2px 2px 0px var(--dark);
    border-radius: 25px;
    border: 2px solid;
    margin-bottom: 0px;
}

.image-box {
    width: 50%;
    padding: 40px;
}

.project-container:nth-child(1) .image-box {
    background: var(--pink);
}

.project-container:nth-child(2) .image-box {
    background: var(--green);
}

.project-container:nth-child(3) .image-box {
    background: var(--purple);
}


.project-container:nth-child(2) .image-box {
    display: flex;
    justify-content: flex-end;
}

.website-image {
    max-width: 600px;
    width: 100%;
    height: auto;
}


/* About Me */

.about {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about p {
    text-align: center;
}


.about-skills {
    display: flex;
    gap: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 80%;
}

.about-skills p {
    margin-bottom: 0;
}

.about-skills h3 {
    margin-bottom: 15px;
}



/* Contact Section */

.contact {
    padding-top: 100px;
    padding-bottom: 140px;
    display: flex;
    gap: 60px;
}

.contact p {
    padding-top: 20px;
    padding-bottom: 10px;
}



.contact .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .contact-details  h2 {
    margin-bottom: 20px;
}

.contact-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.contact-img-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 2px solid;
}


.contact-img-container::after {
    content: "";
    position: absolute;
    bottom: 18px;
    right: 18px;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, var(--purple), var(--pink), var(--green));
    border-radius: 10px;
    z-index: -1;
}




@media (max-width: 991px) {

    .navbar {
        justify-content: flex-start;
    }

    .navbar-toggler {
        margin-right: 0;
        margin-left: auto;
    }

    .nav-item::after,
    .nav-item:hover::after {
        content: none;
    }

    .nav-item:hover {
        color: var(--purple);
    }

    .navbar-collapse {
        padding: 20px;
        border: 2px solid;
        color: var(--dark);
        border-radius: 20px;
        margin-top: 20px;
    }

    .navbar-nav {
        gap: 20px;
    }

    .navbar-nav a {
        font-size: 18px;
    }

    .project-container.active {
        flex-direction: column-reverse;
        align-items: center;
    }
}



@media (max-width: 880px) {
    .project-container {
        flex-direction: column-reverse;
    }

    .image-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .project {
        width: 100%;
    }

    .project-inner {
        margin-left: 0;
        max-width: 100%;
        padding: 0 40px 40px;
    }

    .project-container:nth-child(2) {
        flex-direction: column;
    }

    .project-container:nth-child(2) .image-box {
        justify-content: center;
    }

    .website-image {
        max-width: 500px;
    }

    .project-container.first-project .project {
        background: var(--pink);
    }

    .project-container.second-project .project {
        background: var(--green);
    }

    .project-container.third-project .project {
        background: var(--purple);
    }




}


@media (max-width: 781px) {

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 34px;
    }

    .container-padding {
        padding: 40px;
    }

    .intro {
        flex-direction: column-reverse;
        align-items: center;
    }

    .duties {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .duties .box:nth-of-type(2),
    .duties .box:nth-of-type(3) {
        margin-top: 50px;
    }

    .about-skills {
        flex-direction: column;
    }

    .contact {
        flex-direction: column-reverse;
        align-items: center;
    }

    .projects {
        padding-bottom: 20px;
    }

    .project-container {
        backdrop-filter: none;
        box-shadow: none;
        margin: 0;
        padding: 0px;

    }

    button.prev {
        left: 100px;
    }

    button.next {
        right: 100px;
    }



    button.prev,
    button.next {
        top: 90%;
    }

    .dots-container {
        padding-top: 40px;
    }

    .swipebox {
        margin-bottom: 20px;
    }

}




@media (max-width: 550px) {

    .navbar {
        padding: 20px;
    }


    .container-padding {
        padding: 40px 20px;
    }

    .intro {
        padding-top: 60px;
    }

    .website-image {
        max-width: 100%;
    }

    .project .project-tech-stack {
        flex-wrap: wrap;
        row-gap: 0;
        column-gap: 10px;
    }

    .project-tech-stack p {
        font-size: 14px;
        padding: 2px 20px;
        margin-bottom: 10px;
    }

    .navbar-brand {
        font-size: 18px;
    }

    .contact {
        padding-bottom: 80px;
    }

    .work,
    .about {
        padding-top: 60px;
    }

    .projects h2 {
        margin-top: 20px;
    }


}


@media (max-width: 400px) {
    .intro-img-container {
        width: 85%;
        margin-right: -15px;
    }
}